<?xml version="1.0" encoding="UTF-8"?>
<web-app>
	<servlet>
		<servlet-name>Marry</servlet-name>
		<servlet-class>com.pg.service.MarriageTestServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Marry</servlet-name>
		<url-pattern>/dis</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>input.html</welcome-file>
	</welcome-file-list>
</web-app>